/*
name: honda
date: 2020/7/13
purpose: show
*/


body{
  background-color: #fff8cf;
  background-image: url("/images/classroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}


h2{
  color:  #a6ce39;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-size: 20px;
}
