/*
name: honda
date: 2020/7/13
purpose: show
*/

body{
  background-color: #f5f2e5;
  background-image: url("/images/springcolor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
    font-size:6rem;
}